<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fishtankapps.hbcconnect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@drawable/ic_hbc_connect_icon_square"
        android:roundIcon="@drawable/ic_hbc_connect_icon_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HBCConnect">

        <activity
            android:name=".mobile.activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mobile.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.HBCConnect.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mobile.activities.LivestreamViewerActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.HBCConnect.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor">
        </activity>

        <activity
            android:name=".mobile.activities.CreateNewEventActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.HBCConnect.NoActionBar"
            android:parentActivityName=".mobile.activities.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mobile.activities.MainActivity" />
        </activity>

        <activity
            android:name=".mobile.activities.SubmitCountMeInCardActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.HBCConnect.NoActionBar"
            android:parentActivityName=".mobile.activities.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mobile.activities.MainActivity" />
        </activity>

        <activity
            android:name=".mobile.activities.SubmitPrayerRequestActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.HBCConnect.NoActionBar"
            android:parentActivityName=".mobile.activities.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mobile.activities.MainActivity" />
        </activity>

        <activity
            android:name=".mobile.activities.SubmitFeedbackActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.HBCConnect.NoActionBar"
            android:parentActivityName=".mobile.activities.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mobile.activities.MainActivity" />
        </activity>

        <activity
            android:name=".mobile.activities.SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.HBCConnect.NoActionBar"
            android:parentActivityName=".mobile.activities.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mobile.activities.MainActivity" />
        </activity>

        <!-- Notification Clicked -->
        <receiver
            android:name=".mobile.utilities.notification.NotificationClickedReceiver"
            android:label="@string/app_name">
        </receiver>

        <!-- FIRE BASE THING -->
        <service
            android:name=".mobile.utilities.firebase.FirebaseMessageListener"
            android:exported="false">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@mipmap/hbc_logo_plumb" />
        </service>
    </application>

</manifest>